<html lang="de" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale1.0">
        <title>MyLittleBikeshop</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>

        <!-- Header Start -->

        <header>
            <div class="nav-bar">
                <a href="#" class="logo">Logo</a>
                <div class="navigation">
                    <div class="nav-items">
                        <a href="#home"><i class="fas fa-home"></i></a>
                        <a href="#aboutus">Über Uns</a>
                        <a href="#sortiment">Sortiment</a>
                        <a href="#contact">Kontakt</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Header End -->

        <section class="sortiment-section">

            <!-- Sidebar Start -->

            <div class="sidebar">
                <div class="container">
                    <div class="filtermenu">
                        <h3>Filter</h3>
                        <div class="item">
                            <a class="subbtn" href="#">Marke</a>
                            <div class="submenu">
                                <!--_________________Here for Loop START____________________________-->

                                <a href="#" class="sub-item">Canyon</a>
                                <a href="#" class="sub-item">Trek</a>
                                <a href="#" class="sub-item">Merida</a>

                                <!--_________________Here for Loop END_____________________________-->
                            </div>
                        </div>
                        <li><a class="item" href="#">Kategorie</a></li> 
                        <li><a class="item" href="#">Preis</a></li> 
                        <li><a class="item" href="#">Jahr</a></li> 
                    </div>
                </div>
            </div>

            <!-- Sidebar End   -->

        <!-- Sortiment Section -->

            <div class="sortiment">
                <div class="container">
                    <div class="bikecard">
                        <div class="card">
                            <div class="card-image"><img src="stoic2_2021.webp" alt=""></div>
                            <div class="card-info">
                                <h1>Canyon</h1>
                                <h2>Stoic 2</h2>
                                <h3>2021</h3>
                            </div>
                        </div>
                    </div>
                    <div class="bikecard">
                        <div class="card">
                            <div class="card-image"><img src="stoic2_2021.webp" alt=""></div>
                            <div class="card-info">
                                <h1>Canyon</h1>
                                <h2>Stoic 2</h2>
                                <h3>2021</h3>
                            </div>
                        </div>
                    </div>
                    <div class="bikecard">
                        <div class="card">
                            <div class="card-image"><img src="stoic2_2021.webp" alt=""></div>
                            <div class="card-info">
                                <h1>Canyon</h1>
                                <h2>Stoic 2</h2>
                                <h3>2021</h3>
                            </div>
                        </div>
                    </div>
                    <div class="bikecard">
                        <div class="card">
                            <div class="card-image"><img src="stoic2_2021.webp" alt=""></div>
                            <div class="card-info">
                                <h1>Canyon</h1>
                                <h2>Stoic 2</h2>
                                <h3>2021</h3>
                            </div>
                        </div>
                    </div>
                    <div class="bikecard">
                        <div class="card">
                            <div class="card-image"><img src="stoic2_2021.webp" alt=""></div>
                            <div class="card-info">
                                <h1>Canyon</h1>
                                <h2>Stoic 2</h2>
                                <h3>2021</h3>
                            </div>
                        </div>
                    </div>
                    <div class="bikecard">
                        <div class="card">
                            <div class="card-image"><img src="stoic2_2021.webp" alt=""></div>
                            <div class="card-info">
                                <h1>Canyon</h1>
                                <h2>Stoic 2</h2>
                                <h3>2021</h3>
                            </div>
                        </div>
                    </div>
                    <div class="bikecard">
                        <div class="card">
                            <div class="card-image"><img src="stoic2_2021.webp" alt=""></div>
                            <div class="card-info">
                                <h1>Canyon</h1>
                                <h2>Stoic 2</h2>
                                <h3>2021</h3>
                            </div>
                        </div>
                    </div>
                    <div class="bikecard">
                        <div class="card">
                            <div class="card-image"><img src="stoic2_2021.webp" alt=""></div>
                            <div class="card-info">
                                <h1>Canyon</h1>
                                <h2>Stoic 2</h2>
                                <h3>2021</h3>
                            </div>
                        </div>
                    </div>
                    <div class="bikecard">
                        <div class="card">
                            <div class="card-image"><img src="stoic2_2021.webp" alt=""></div>
                            <div class="card-info">
                                <h1>Canyon</h1>
                                <h2>Stoic 2</h2>
                                <h3>2021</h3>
                            </div>
                        </div>
                    </div>
                    <div class="bikecard">
                        <div class="card">
                            <div class="card-image"><img src="stoic2_2021.webp" alt=""></div>
                            <div class="card-info">
                                <h1>Canyon</h1>
                                <h2>Stoic 2</h2>
                                <h3>2021</h3>
                            </div>
                        </div>
                    </div>
                    <div class="bikecard">
                        <div class="card">
                            <div class="card-image"><img src="stoic2_2021.webp" alt=""></div>
                            <div class="card-info">
                                <h1>Canyon</h1>
                                <h2>Stoic 2</h2>
                                <h3>2021</h3>
                            </div>
                        </div>
                    </div>
                    <div class="bikecard">
                        <div class="card">
                            <div class="card-image"><img src="stoic2_2021.webp" alt=""></div>
                            <div class="card-info">
                                <h1>Canyon</h1>
                                <h2>Stoic 2</h2>
                                <h3>2021</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script type="text/javascript">
            $(document).ready(function(){
                $('.subbtn').click(function(){
                    $(this).next('.submenu').slideToggle();
                });
            });
        </script>



    </body>
</html>