@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 2rem 0 0 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
/*_________Header with Navbar Start___________*/

header{
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #3C434A;
}

.nav-bar{
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: .6s ease;
}

.nav-bar .logo{
    color: white;
    font-size: 1em;
    font-weight: 500;
}

.nav-items a:not(:last-child){
    margin-right: 50px;
}

.nav-items a{
    color: #C1C3C5;
}

.nav-items a:hover{
    color: white;
    transition: .5s;
}

/*_________Header with Navbar End___________*/

.sortiment{
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: column;
}

.sortiment .container{
    display: flex;
}
.bikecard{
    background: blue;
    display: block;
    padding: 2% 0 0 2%;
    float: left;
}

.bikecard .img{
    
}